@tailwind base;
@tailwind components;
@tailwind utilities;

.glitch {
  animation: glitch-flicker 1.5s infinite;
}

.glitch-text {
  position: relative;
}
.glitch-text::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: transparent;
  animation: glitch-anim 1s infinite linear alternate-reverse;
}

@keyframes glitch-flicker {
  0%, 19%, 21%, 23%, 100% {
    opacity: 1;
  }
  20%, 22% {
    opacity: 0.6;
  }
}

@keyframes glitch-anim {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
